@import "tailwindcss";

.inter-font {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
}


.roboto-font {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;
}

:root{
  --background-color : #e8d8c9;
  --sec-bg-color : #F5F6F1;
  --primary-color: #161616;

}
* ,html , body{
    box-sizing: border-box
}
.retro-shadow {
  box-shadow: 6px 6px 0px 1px rgba(0, 0, 0, 1); 
}

.retro-shadow-side{
  box-shadow: 8px 8px 0px  rgba(0, 0, 0, 1);
}

 

@keyframes bounce {
  0%, 100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes appear {
  from{
    opacity:0;
    scale:0.5;
  }
  to{
    opacity:1;
    scale:1;
  }
}

@keyframes slider {
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}

.slider-animation{
  animation: slider linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.scroll-animation{
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.animation-bounce{
  animation: bounce 1s ease infinite;
}


.light-button:hover{
  background-color: var(--primary-color);
  color:var(--background-color)
}

.grid-background {
  background-color: #ffffff; /* Very Light Gray */
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
                    linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 30px 30px; /* Grid Size */
}

.secondary-button{
  width:100px;
  height:40px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  justify-content: center;
  align-items: center;
  background-color: black;
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: all 0.5s ease-in-out;
}

.secondary-button:hover{
  transform: scale(1.05);
}

.project-skill{
  text-align: center;
  width: 90px;
  border: 2px solid black;
  padding: 4px 1px;
}

@media screen and (max-width:480px) {
  .dis{
    display: hidden;
  }
}